<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">NAVIGATION</li>
		<li>
			<a href="{{ path('accueil_homepage') }}">Accueil</a>
		</li>
		<li>
			<a href="{{ path('pages_homepage') }}">Articles</a>
		</li>
		<li>
			<a href="{{ path('produits_homepage') }}">Produits</a>
		</li>
	</ul>
</div>